* {
    outline: 1px dashed lightcoral;
}

:root {
    --primary-color: #F20544;
    --secondary-color:#8C2656;
    --tertiary-color: #3F618C;
    --quaternary-color: #012340;
    --quinary-color: #011826;
    --light-color: white;
    --dark-color: black;
    --grayscale: #f2f2f2;

    --extra-small: 4px;
    --small-size: 8px;
    --medium-size: 16px;
    --large-size: 32px;
    --extra-large-size: 64px;
}

.header {
    background: rgb(242,5,68);
    background: linear-gradient(90deg, rgba(242,5,68,1) 0%, rgba(63,97,140,1) 33%, rgba(1,24,38,1) 100%);
}

.header__title {
    color: var(--light-color);
}

.header__social-icons {
    color: var(--light-color);
}

.skills__column-left {
    background: var(--quaternary-color);
}

.skills__title {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--light-color);
}

.skills__label {
    font-size: 0.8rem;
    color: var(--light-color);
}